<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shingo.lib.epic">

    <uses-sdk tools:overrideLibrary="de.robv.android.xposed" />
    <application>


        <provider
            android:name="com.shingo.lib.epic.PrivacyMethodHookProvider"
            android:authorities="PrivacyMethodHookProvider"
            android:enabled="true"
            android:exported="false" />

    </application>


</manifest>
